@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"Century Gothic";
	src:url(../fonts/GOTHIC.TTF) format("opentype");
}
@font-face {
	font-style:normal;
	font-weight:bold;
	font-family:"Century Gothic";
	src:url(../fonts/GOTHICB.TTF) format("opentype");
}
@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f0generic";
	src:url(../fonts/f0generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f18generic";
	src:url(../fonts/f18generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f5generic";
	src:url(../fonts/f5generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f6generic";
	src:url(../fonts/f6generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f4generic";
	src:url(../fonts/f4generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f17generic";
	src:url(../fonts/f17generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f8generic";
	src:url(../fonts/f8generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f12generic";
	src:url(../fonts/f12generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f3generic";
	src:url(../fonts/f3generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f16generic";
	src:url(../fonts/f16generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f1generic";
	src:url(../fonts/f1generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f14generic";
	src:url(../fonts/f14generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f7generic";
	src:url(../fonts/f7generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f33generic";
	src:url(../fonts/f33generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f30generic";
	src:url(../fonts/f30generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f19generic";
	src:url(../fonts/f19generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f20generic";
	src:url(../fonts/f20generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f29generic";
	src:url(../fonts/f29generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f22generic";
	src:url(../fonts/f22generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f25generic";
	src:url(../fonts/f25generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f28generic";
	src:url(../fonts/f28generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f10generic";
	src:url(../fonts/f10generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f32generic";
	src:url(../fonts/f32generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f23generic";
	src:url(../fonts/f23generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f21generic";
	src:url(../fonts/f21generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f27generic";
	src:url(../fonts/f27generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f9generic";
	src:url(../fonts/f9generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f11generic";
	src:url(../fonts/f11generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f2generic";
	src:url(../fonts/f2generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f26generic";
	src:url(../fonts/f26generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f24generic";
	src:url(../fonts/f24generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f31generic";
	src:url(../fonts/f31generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f13generic";
	src:url(../fonts/f13generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f15generic";
	src:url(../fonts/f15generic.otf) format("opentype");
}

